body {
	background-color: #DAF7A6;
}

p, h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica", "Arial", sans-serif;
	color: darkblue;
}

h6 {
	font-size: xx-small;
}

h5 {
	font-size: smaller;
}

h4 {
	font-size: small;
}

h3 {
	font-size: medium;
}

h2 {
	font-size: large;
	font-weight: bold;
}

p {
	font-size: larger;
	font-weight: lighter;
}

figcaption{
	text-transform: uppercase;
}

em {
	color: magenta;
}

img {
	border: solid;
	border-width: 10px;
	border-color: white;
}


a:visited {
	color: salmon;
}

a:hover {
	background: green;
}

a:active {
	color: red;
}

iframe {
	width: 100%;
}

figcaption {
	font-family: "Courier";
	;
}
